proceeding/meta/hasard-schemas/LordsHansard_Print.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by B Otten (Parliamentary ICT) -->
<xs:schema xmlns="http://www.parliament.uk/lords/hansard/print" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.parliament.uk/lords/hansard/print" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.25">
	<xs:annotation>
		<xs:documentation>
		Version:
			0.25
		Description:
			This document defines the structure of the XML output from
			the reporting application of Lords Hansard into the page makeup unit.
			The output from the page makeup unit will also conform to this schema
			hence the presence of quite a lot in this schema that will not be
			present in the input to the page makeup unit.
		Some known limitations:
			- Much of the structure is loosely defined.  This is because
			the initial draft was intentionally loose to force the print related
			aspect of the schema to remain the required structure to the document.
			This will gradually be tightened with individual definitions of the
			data reuse elements as they are required and can be incorporated
			transparently to the Hansard users.
		Version history:
			0.1	- First version.
			0.2	- Division paragraph styles added.
			0.3	- Mekon elements added to FragmentStructure.
			0.4	- Added attributes to mekon elements.
				- Added "short-date" attribute to "Sitting" element in header.
				- Added an optional "tfoot" element to table model.
			0.5	- "Alt" attribute added to all print paragraph elements.
				- Table paragraph styles added.
			0.6 - Government list, front page, amendments and other paragraphs
				styles added.
				- Removed unused hs_HRt paragraph style.
				- Corrected reference to ParaParagraphStructure to
				PrintParagraphStructure.
				- Added space preserve attribute to Body structure.
			0.7	- Changed default and target namespaces from same as commons
				to lords version.
				- Fragment Mekon CMS attributes added.
			0.8	- PimsId attribute added to member structure.
			0.9	- hs_hdgaddress paragraph style added.
			0.10
				- House "Name" attribute renamed "name".
				- System "Type" attribute renamed "type".
				- System "ColStart" attribute added.
				- Fragment Body child made optional.
				- Fragment "index" child renamed "Index".
				- Fragment "Cover_wrapper" child renamed "Cover-wrapper".
				- Made "hs_ListJobTitle" paragraph element a range level element.
				- Added "Government" as an allowed system type.
				- Added system "type" attribute to HansardDoc too.
				- Added "Back_Cover" as an allowed system type.
			0.11
				- Moved Mekon "Cover" element attributes into "MekonAttributes" group
				and referenced from "Cover", "ContentsStructure" and "IndexStructure".
				- Removed "section" wrapper element from "IndexElements" group.
				- Allowed unbounded "System" child elements within "House".
			0.12
				- Added "Cover" and "Index" to allowed system types.
				- Added "tabstyle" attribute on table element.
				- Changed "Alt" attribute on paragraph elements to be "alt".
			0.13
				- Created new attribute group CoverAttributes.
				- CoverAttributes attribute group referenced from "Cover"
				- Changed type of "price" attribute in MekonAttributes from xs:date to xs:string
				- Allowed "Contents", "hs_FPNormal", "hs_FPNormalIndent" and "hs_FPCentre" within "Cover"
			0.14
				- Changed "Cover" attribute references back to individual ones and added bcoveruri as new attribute
				   added in previous release may have been confusing things.
				- Added attributes to "Index" and "Contents": cdate, cday, cmonth, cyear, date, day, issue, maxparts, month, part, price, printing, session
				   type, volume, year
				- Allowed unbounded "citicont2" within "citicont1"
			0.15
				- Typo in bcoveruri attribute corrected
				- Changed citicont2 to be optional within citicont1
				- Added regnalyear attribute to Cover element
			0.16
			    - Allowed "I" PrintRangeElement within "level1" of IndexStructure
			0.17
			    - Allowed "hs_FPNormal", "hs_FPNormalIndent" and "hs_FPCentre" within "Contents" rather than "Cover"
			0.18
			   - Allowed PrintRangeElements within "citicont1"and "citicont2" within "Contents"
			0.19
			    - Allowed "hs_FPLine" within "Contents"
			0.20
			    - Added url attribute to all elements already having UID attribute
			0.21
			    - Added UID attribute to LMemberStructure to allow Mekon to create HTML links
			0.22
			    - Added url attribute to LMemberStructure to allow Mekon to create HTML links
			0.23
			    - Correction: Capitalised first character of ContinuationText attribute in LMemberStructure
			0.24
			    - Added new element: Amendment
			    - Added new heading elements for new PrintParagraph styles
			0.25
			    - Allowed element TableWrapper within Amendment
			0.26
				- Allow hs_TimeCode element within hs_Para, Body, B tags, etc (see 229, 425, and 455). 
		</xs:documentation>
	</xs:annotation>
	
	<xs:import 
		namespace="http://www.w3.org/XML/1998/namespace" 
		schemaLocation="http://www.w3.org/2001/xml.xsd"
	/>
	<xs:import
		namespace="http://www.w3.org/1998/Math/MathML"
		schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd"
	/>
	
	<!-- The only globally defined elements hence the only valid root elements. -->
	<!-- Top level structures and types -->
	<xs:element name="HansardDoc" type="HOLDocumentStructure"/>
	<xs:element name="Fragment" type="FragmentStructure"/>
	<xs:complexType name="HOLDocumentStructure">
		<xs:annotation>
			<xs:documentation>
			The top level element of Lords Hansard documents.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="House" type="HOLHouseStructure"/>
		</xs:sequence>
		<xs:attribute name="type" type="HOLSystemType"/>
	</xs:complexType>
	<xs:complexType name="HOLHouseStructure">
		<xs:annotation>
			<xs:documentation>
			The structure of a top level house element for HOL Hansard.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="System" type="HOLSystemStructure"/>
		</xs:sequence>
		<xs:attribute name="name" type="HOLHouseType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="HOLHouseType">
		<xs:annotation>
			<xs:documentation>The possible house types for a HOL document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lords"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HOLSystemStructure">
		<xs:annotation>
			<xs:documentation>
			The wrapper element for the system that a document belongs to.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="Fragment"/>
		</xs:sequence>
		<xs:attribute name="type" type="HOLSystemType" use="required"/>
		<xs:attribute name="ColStart" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="HOLSystemType">
		<xs:annotation>
			<xs:documentation>The possible system types for HOL document.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Debate"/>
			<xs:enumeration value="Writtens"/>
			<xs:enumeration value="GrandCommittee"/>
			<xs:enumeration value="WMS"/>
			<xs:enumeration value="Government"/>
			<xs:enumeration value="Back_Cover"/>
			<xs:enumeration value="Cover"/>
			<xs:enumeration value="Index"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FragmentStructure">
		<xs:annotation>
			<xs:documentation>The structure of a fragment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="HeaderStructure" minOccurs="0"/>
			<xs:element name="Body" type="BodyStructure" minOccurs="0"/>
			<xs:element name="Index" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="IndexStructure"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contents" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContentsStructure"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cover-wrapper" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CoverStructure"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="xml:space"/>
		<xs:attribute name="__uri__"/>
		<xs:attribute name="__lock__"/>
		<xs:attribute name="__shareable__"/>
		<xs:attribute name="__version__"/>
	</xs:complexType>
  <xs:attributeGroup name="HRSContentId">
    <xs:attribute name="HRSContentId" type="xs:string" use="required"/>
  </xs:attributeGroup>
	<xs:complexType name="HeaderStructure">
		<xs:annotation>
			<xs:documentation>
			Simple file header type definition.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="House" type="xs:string" minOccurs="0"/>
			<xs:element name="System" type="xs:string" minOccurs="0"/>
			<xs:element name="Sitting" type="SittingStructure" minOccurs="0"/>
			<xs:element name="Section" type="xs:string"/>
      <xs:element name="SystemDataId" type="xs:string" />
			<xs:element name="TransformationVersion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BodyStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>
			The definition of the body element.
			
			This is explicitly not mixed content since it is important
			that all text belongs to a defined paragraph style.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="TableWrapper" type="TableStructure"/>
			<xs:element name="hs_TimeCode" type="TimeCodeStructure"/>
			<xs:group ref="PrintParagraphElements"/>
			<xs:group ref="OtherParagraphElements"/>
		</xs:choice>
		<xs:attribute ref="xml:space"/>
	</xs:complexType>
	<xs:complexType name="SittingStructure">
		<xs:annotation>
			<xs:documentation>
			The definition for Sitting elements in the header.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="short-date" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:group name="PrintParagraphElements">
		<xs:annotation>
			<xs:documentation>
			Choice of all of the paragraph level elements that relate
			to the print appearance.  These are the core set that map to
			the currently used print paragraph styles.
			
			NOTE: The "hs_" prefix indicates that these are house
			styles in current use.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="hs_cahead" type="PrintParagraphStructure"/>
			<xs:element name="hs_date" type="PrintParagraphStructure"/>
			<xs:element name="hs_endsit" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdg1R" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdg2R" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdg3R" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgca" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgcom" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdggc" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdghumble" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgintro" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgmessage" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgmisc" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgmot" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgmot4app" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgmotrefgc" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgpnq" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgqn" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgra" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgrep" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgreturned" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgrevoke" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgstate" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgtakenote" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdguq" type="PrintParagraphStructure"/>
			<xs:element name="hs_HoL" type="PrintParagraphStructure"/>
			<xs:element name="hs_met" type="PrintParagraphStructure"/>
			<xs:element name="hs_newline10" type="PrintParagraphStructure"/>
			<xs:element name="hs_newline12" type="PrintParagraphStructure"/>
			<xs:element name="hs_para" type="PrintParagraphStructure"/>
			<xs:element name="hs_parafo" type="PrintParagraphStructure"/>
			<xs:element name="hs_prayers" type="PrintParagraphStructure"/>
			<xs:element name="hs_quote" type="PrintParagraphStructure"/>
			<xs:element name="hs_quotefo" type="PrintParagraphStructure"/>
			<xs:element name="hs_state" type="PrintParagraphStructure"/>
			<xs:element name="hs_statefo" type="PrintParagraphStructure"/>
			<xs:element name="hs_stqtfo" type="PrintParagraphStructure"/>
			<xs:element name="hs_stquote" type="PrintParagraphStructure"/>
			<xs:element name="hs_time" type="PrintParagraphStructure"/>
			<xs:element name="hs_Comment" type="PrintParagraphStructure"/>
			<xs:element name="hs_Question" type="PrintParagraphStructure"/>
			<xs:element name="hs_DivListHead" type="PrintParagraphStructure"/>
			<xs:element name="hs_DivListNames" type="PrintParagraphStructure"/>
			<xs:element name="hs_DivNo" type="PrintParagraphStructure"/>
			<xs:element name="hs_TableTitle" type="PrintParagraphStructure"/>
			<xs:element name="hs_TableHeading" type="PrintParagraphStructure"/>
			<xs:element name="hs_TableFooter" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgloa" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgtributes" type="PrintParagraphStructure"/>
			<xs:element name="hs_CORRECTIONhdg" type="PrintParagraphStructure"/>
			<xs:element name="hs_WAIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_WrittensFootnote" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgaddress" type="PrintParagraphStructure"/>
			<!-- Amendments styles -->
			<xs:element name="hs_QuoteAllIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_IndentOne" type="PrintParagraphStructure"/>
			<xs:element name="hs_IndentOneAllIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_IndentTwo" type="PrintParagraphStructure"/>
			<xs:element name="hs_HeadingOne" type="PrintParagraphStructure"/>
			<xs:element name="hs_HeadingTwo" type="PrintParagraphStructure"/>
			<xs:element name="hs_HeadingThree" type="PrintParagraphStructure"/>
			<!-- Front page styles -->
			<xs:element name="hs_FPNormal" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPNormalIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPCentre" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPLine" type="PrintParagraphStructure"/>
			<!-- Government list styles -->
			<xs:element name="hs_ListDepartmentHeading" type="PrintParagraphStructure"/>
			<xs:element name="hs_ListMainHeading" type="PrintParagraphStructure"/>
			<xs:element name="hs_ListNamesIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_ListNormalPara" type="PrintParagraphStructure"/>
			<xs:element name="hs_ListSectionHeading" type="PrintParagraphStructure"/>
			<!-- New headings May 2006 -->
			<xs:element name="hs_hdgdlapproved" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgdldebated" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgdlrefgc" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgocm" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgcommittal" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgscmem" type="PrintParagraphStructure"/>
			<xs:element name="hs_hdgscrepagree" type="PrintParagraphStructure"/>
      <!-- New headings Dec 2008-->
      <xs:element name="hs_TabledBy" type="PrintParagraphStructure"/>
      <xs:element name="hs_Venue" type="PrintParagraphStructure"/>
      <xs:element name="hs_Procedure" type="PrintParagraphStructure"/>
      <xs:element name="hs_AmendmentHeading" type="PrintParagraphStructure"/>
      <xs:element name="hs_ClauseHeading" type="PrintParagraphStructure"/>
		</xs:choice>
	</xs:group>
	<xs:group name="OtherParagraphElements">
		<xs:annotation>
			<xs:documentation>
			All of the top level elements that are not print paragraph styles.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Division" type="DivisionStructure"/>
			<xs:element name="Amendment" type="AmendmentType"/>
      <xs:element name="NewDebate" type="NewDebateType"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="DivisionStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>The type definition for divisions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hs_time" type="PrintParagraphStructure"/>
      <xs:choice minOccurs="3" maxOccurs="unbounded">
        <xs:element name="hs_para" type="PrintParagraphStructure"/>
        <xs:element name="hs_Procedure" type="PrintParagraphStructure"/>
      </xs:choice>
			<xs:element name="hs_DivNo" type="PrintParagraphStructure"/>
			<xs:element name="hs_DivListHead" type="PrintParagraphStructure"/>
			<xs:element name="NamesContents" type="NamesStructure"/>
			<xs:element name="hs_DivListHead" type="PrintParagraphStructure"/>
			<xs:element name="NamesNotContents" type="NamesStructure"/>
		</xs:sequence>
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
	<xs:complexType name="NamesStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>
			The structure used for names in divisions.
			It contains print paragraphs and also has an attribute indicating
			whether or not the names have been filled in.
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="PrintParagraphElements" maxOccurs="unbounded"/>
		<xs:attribute name="IsDone" type="TrueFalseType" use="required"/>
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
	<xs:complexType name="PrintParagraphStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			The type definition for all print paragraph level elements.
			
			This is a simple definition that just ensures that you
			can't nest paragraph elements.
			
			Any print paragraph element can have a UID attribute attached.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="OtherRangeElements"/>
			<xs:group ref="PrintRangeElements"/>
		</xs:choice>
		<xs:attribute name="UID" type="xs:NMTOKEN"/>
		<xs:attribute name="Justify" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
		<xs:attribute name="url" type="xs:string"/>
	</xs:complexType>
	<xs:group name="OtherRangeElements">
		<xs:annotation>
			<xs:documentation>
			The list of all character level elements that do not relate to
			print appearance but are included for semantic markup purposes.
			
			TODO: Add elements here as and when we develop the application to
			allow the users to use them transparently.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Member" type="LMemberStructure"/>
			<xs:element name="Stickup" type="StickupStructure"/>
			<xs:element name="Image" type="ImageStructure"/>
			<xs:element name="ContentsNumber" type="OtherRangeStructure"/>
			<xs:element name="NotContentsNumber" type="OtherRangeStructure"/>
			<xs:element name="DivisionNumber" type="OtherRangeStructure"/>
			<xs:element name="hs_TimeCode" type="TimeCodeStructure"/>
			<xs:any namespace="http://www.w3.org/1998/Math/MathML" processContents="strict"/>
		</xs:choice>
	</xs:group>
	<xs:group name="PrintRangeElements">
		<xs:annotation>
			<xs:documentation>
			The list of all possible print appearance character level elements.
			Some of these, e.g. "U" and "Hidden",  are included for completeness
			but should never find their way into the output since we don't permit
			this character level formatting in the printed book.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="B" type="PrintRangeStructure"/>
			<xs:element name="I" type="PrintRangeStructure"/>
			<xs:element name="U" type="PrintRangeStructure"/>
			<xs:element name="Sub" type="PrintRangeStructure"/>
			<xs:element name="Sup" type="PrintRangeStructure"/>
			<xs:element name="SmallCaps" type="PrintRangeStructure"/>
			<xs:element name="Hidden" type="PrintRangeStructure"/>
			<xs:element name="hs_prayers2" type="PrintRangeStructure"/>
			<xs:element name="hs_speaker" type="PrintRangeStructure"/>
			<xs:element name="hs_QuestionUIN" type="PrintRangeStructure"/>
			<!-- Government list styles -->
			<xs:element name="hs_ListJobTitle" type="PrintRangeStructure"/>
      <xs:element name="a" type="AnchorStructure"/>
      <xs:element name="A" type="AnchorStructure"/>
      <!--<xs:element name="hs_TimeCode" type="TimeCodeStructure"/>-->
    </xs:choice>
	</xs:group>
	<xs:complexType name="TimeCodeStructure">
		<xs:annotation>
			<xs:documentation>
			The definition for a hs_TimeCode element.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="time" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="LMemberStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			The definition for a member element.
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="PrintRangeElements" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="xid" type="xs:string"/>
		<xs:attribute name="title" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="ContinuationText" type="xs:string"/>
		<xs:attribute name="PimsId" type="xs:string"/>
		<xs:attribute name="MnisId" type="xs:string"/>
		<xs:attribute name="UID" type="xs:string"/>
		<xs:attribute name="url" type="xs:string"/>
    <xs:attribute name="ContributionType" type="xs:string" />
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
	<xs:complexType name="OtherRangeStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			The type definition for all possible non-print range level elements.
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="PrintRangeElements" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
	<xs:complexType name="PrintRangeStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			The type definition for all possible print range level elements.
			
			Note that the definition of range elements is not just simple
			textual content but is complex mixed and also recursive since any
			of them can contain any of the other range elements.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="OtherRangeElements"/>
			<xs:group ref="PrintRangeElements"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StickupStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			This structure should not appear in the final output of the pagination
			system but is included to validate the input to the pagination system,
			which can include this structure.
			This structure will be removed and replaced by some text/markup during
			pagination.  The contents of this structure indicate what it should
			be replaced with i.e. they are for information only and will not form
			part of the paginated product.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any processContents="skip"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ImageStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			Represents an image to appear in the product.  This structure
			will probably not appear in the input into the pagination system
			but be inserted as part of pagination in place of a Stickup element.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="src" type="xs:string" use="required"/>
		<xs:attribute name="width" type="xs:integer"/>
		<xs:attribute name="height" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="DepartmentStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			The definition for a department name range elements.
			</xs:documentation>
		</xs:annotation>
		<xs:group ref="PrintRangeElements" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attribute name="xid" type="xs:string"/>
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
	<xs:simpleType name="TrueFalseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="True"/>
			<xs:enumeration value="False"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TableStructure">
		<xs:annotation>
			<xs:documentation>
			Definition of XPP-style table markup.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="table" type="CALSTableStructure"/>
		</xs:sequence>
		<xs:attribute name="Columns" type="xs:integer"/>
		<xs:attribute name="Size" type="xs:string"/>
		<xs:attribute name="Landscape" type="xs:string"/>
		<xs:attribute name="Pickup" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CALSTableStructure">
		<xs:annotation>
			<xs:documentation>CALS table.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tbl.table.mdl">
				<xs:attributeGroup ref="attlist.table"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tbl.table.mdl">
		<xs:sequence>
			<xs:element name="tgroup" type="CALSTableGroupStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="attlist.table">
		<xs:attribute name="frame">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="top"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="topbot"/>
					<xs:enumeration value="all"/>
					<xs:enumeration value="sides"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="align" default="left">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="tabstyle" type="xs:NMTOKEN"/>
		<xs:attributeGroup ref="tbl.table.att"/>
		<xs:attribute name="id" type="xs:ID"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="tbl.table.att">
		<xs:attribute name="pgwide" type="yesorno"/>
	</xs:attributeGroup>
	<xs:complexType name="CALSTableGroupStructure">
		<xs:annotation>
			<xs:documentation>CALS table group element.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tbl.tgroup.mdl">
				<xs:attributeGroup ref="attlist.tgroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tbl.tgroup.mdl">
		<xs:sequence>
			<xs:element name="colspec" type="CALSColspecStructure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="thead" type="CALSTableHeadStructure" minOccurs="0"/>
			<xs:element name="tbody" type="CALSTableBodyStructure"/>
			<xs:element name="tfoot" type="CALSTableHeadStructure" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="attlist.tgroup">
		<xs:attribute name="cols" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CALSColspecStructure">
		<xs:annotation>
			<xs:documentation>CALS colspec element.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="attlist.colspec"/>
	</xs:complexType>
	<xs:attributeGroup name="attlist.colspec">
		<xs:attribute name="colnum" type="xs:NMTOKEN"/>
		<xs:attribute name="colname" type="xs:NMTOKEN"/>
		<xs:attribute name="colwidth"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char"/>
		<xs:attribute name="charoff" type="xs:NMTOKEN"/>
	</xs:attributeGroup>
	<xs:complexType name="CALSTableHeadStructure">
		<xs:sequence>
			<xs:element name="row" type="CALSRowStructure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="attlist.thead"/>
	</xs:complexType>
	<xs:attributeGroup name="attlist.thead">
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CALSTableBodyStructure">
		<xs:sequence>
			<xs:element name="row" type="CALSRowStructure" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="attlist.tbody"/>
	</xs:complexType>
	<xs:attributeGroup name="attlist.tbody">
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CALSRowStructure">
		<xs:annotation>
			<xs:documentation>CALS row element.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tbl.row.mdl">
				<xs:attributeGroup ref="attlist.row"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tbl.row.mdl">
		<xs:sequence>
			<xs:element name="entry" type="CustomCALSEntryStructure" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="attlist.row">
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CustomCALSEntryStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>
			Altered CALS entry element to restrict content.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="OtherParagraphElements"/>
			<xs:group ref="PrintParagraphElements"/>
		</xs:choice>
		<xs:attributeGroup ref="attlist.entry"/>
	</xs:complexType>
	<xs:complexType name="CALSEntryStructure" mixed="true">
		<xs:annotation>
			<xs:documentation>CALS entry element.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:any processContents="lax"/>
		</xs:choice>
		<xs:attributeGroup ref="attlist.entry"/>
	</xs:complexType>
	<xs:attributeGroup name="attlist.entry">
		<xs:attribute name="colname" type="xs:NMTOKEN"/>
		<xs:attribute name="namest" type="xs:NMTOKEN"/>
		<xs:attribute name="nameend" type="xs:NMTOKEN"/>
		<xs:attribute name="morerows" type="xs:NMTOKEN"/>
		<xs:attribute name="colsep" type="yesorno"/>
		<xs:attribute name="rowsep" type="yesorno"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="justify"/>
					<xs:enumeration value="char"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="char"/>
		<xs:attribute name="charoff" type="xs:NMTOKEN"/>
		<xs:attribute name="valign">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:simpleType name="yesorno">
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:complexType name="HTMLTableStructure">
		<xs:annotation>
			<xs:documentation>
			Definition of permitted HTML style table markup.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="Tr">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="Td">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>
									Table cells allow all paragraph elements to appear.
									</xs:documentation>
								</xs:annotation>
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:group ref="OtherParagraphElements"/>
									<xs:group ref="PrintParagraphElements"/>
								</xs:choice>
								<xs:attribute name="Colspan" type="xs:integer" use="optional"/>
								<xs:attribute name="Rowspan" type="xs:integer" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="border" type="xs:positiveInteger" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CoverStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>
			The definition of the content element.
			
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="CoverElements"/>
		</xs:choice>
	</xs:complexType>
	<xs:attributeGroup name="MekonAttributes">
		<!-- Attributes for the bound volumn cover -->
		<xs:attribute name="number" type="xs:integer"/>
		<xs:attribute name="parliament" type="xs:string"/>
		<xs:attribute name="part" type="xs:integer"/>
		<xs:attribute name="periodstart" type="xs:string"/>
		<xs:attribute name="periodend" type="xs:string"/>
		<xs:attribute name="price" type="xs:string"/>
		<xs:attribute name="series" type="xs:string"/>
		<xs:attribute name="session" type="xs:string"/>
		<xs:attribute name="sessiontitle" type="xs:string"/>
		<xs:attribute name="year" type="xs:string"/>
		<!-- Attributes for the daily part cover -->
		<xs:attribute name="maxparts" type="xs:integer"/>
	</xs:attributeGroup>
	<xs:group name="CoverElements">
		<xs:annotation>
			<xs:documentation>
			The wrapper for the cover
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cover">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contents" type="ContentsStructure" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="MekonAttributes"/>
					<xs:attribute name="bcoveruri" type="xs:string"/>
					<xs:attribute name="cdate" type="xs:string"/>
					<xs:attribute name="cday" type="xs:string"/>
					<xs:attribute name="cmonth" type="xs:string"/>
					<xs:attribute name="cyear" type="xs:string"/>
					<xs:attribute name="date" type="xs:string"/>
					<xs:attribute name="day" type="xs:string"/>
					<xs:attribute name="indexuri" type="xs:string"/>
					<xs:attribute name="issue" type="xs:string"/>
					<xs:attribute name="month" type="xs:string"/>
					<xs:attribute name="printing" type="xs:string"/>
					<xs:attribute name="type" type="xs:string"/>
					<xs:attribute name="volume" type="xs:string"/>
					<xs:attribute name="regnalyear" type="xs:string"/>
					<xs:attribute name="htmlBackCoverUri" type="xs:string"/>
					<xs:attribute name="htmlIndexUri" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ContentsStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>
			The definition of the content element.
			
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="ContentsElements"/>
			<xs:element name="hs_FPNormal" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPNormalIndent" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPCentre" type="PrintParagraphStructure"/>
			<xs:element name="hs_FPLine" type="PrintParagraphStructure"/>
		</xs:choice>
		<xs:attributeGroup ref="MekonAttributes"/>
		<xs:attribute name="cdate" type="xs:integer"/>
		<xs:attribute name="cday" type="xs:string"/>
		<xs:attribute name="cmonth" type="xs:string"/>
		<xs:attribute name="cyear" type="xs:integer"/>
		<xs:attribute name="date" type="xs:integer"/>
		<xs:attribute name="day" type="xs:string"/>
		<xs:attribute name="issue" type="xs:string"/>
		<xs:attribute name="month" type="xs:string"/>
		<xs:attribute name="printing" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="volume" type="xs:string"/>
	</xs:complexType>
	<xs:group name="ContentsElements">
		<xs:annotation>
			<xs:documentation>
			Choice of all of the citi generated content lines
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="citicont1">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="citicont2">
							<xs:complexType mixed="true">
								<xs:choice minOccurs="0" maxOccurs="unbounded">
									<xs:group ref="PrintRangeElements"/>
								</xs:choice>
								<xs:attribute name="col"/>
							</xs:complexType>
						</xs:element>
						<xs:group ref="PrintRangeElements"/>
					</xs:choice>
					<xs:attribute name="col"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="citicont2">
				<xs:complexType mixed="true">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="PrintRangeElements"/>
					</xs:choice>
					<xs:attribute name="col"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:complexType name="IndexStructure" mixed="false">
		<xs:annotation>
			<xs:documentation>
			The definition of the index element.
			
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="IndexElements"/>
		</xs:choice>
		<xs:attributeGroup ref="MekonAttributes"/>
		<xs:attribute name="cdate" type="xs:integer"/>
		<xs:attribute name="cday" type="xs:string"/>
		<xs:attribute name="cmonth" type="xs:string"/>
		<xs:attribute name="cyear" type="xs:integer"/>
		<xs:attribute name="date" type="xs:integer"/>
		<xs:attribute name="day" type="xs:string"/>
		<xs:attribute name="issue" type="xs:string"/>
		<xs:attribute name="month" type="xs:string"/>
		<xs:attribute name="printing" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="volume" type="xs:string"/>
	</xs:complexType>
	<xs:group name="IndexElements">
		<xs:annotation>
			<xs:documentation>
			Choice of all of the citi generated content lines
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="tocdate">
					<xs:complexType mixed="true">
						<xs:attribute name="col"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="title">
					<xs:complexType mixed="true">
						<xs:attribute name="col"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="level1">
					<xs:complexType mixed="true">
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="level2">
								<xs:complexType mixed="true">
									<xs:attribute name="col"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="tocdate">
								<xs:complexType mixed="true">
									<xs:attribute name="col"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="I" type="PrintRangeStructure"/>
						</xs:choice>
						<xs:attribute name="col"/>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<!-- Content structures and types -->
	<!-- Paragraph section -->
	<!-- Paragraph groups -->
	<!-- Paragraph types -->
	<!-- Range section -->
	<!-- Range groups -->
	<!-- Range types -->
	<!-- TYPES -->
	<!-- Table section -->
	<!--
		The table model used is actually a slightly adjusted version of the
		Exchange tabel model, which is itself a cut down version of the CALS
		table model.
		
		A good place to find the CALS and Exchange table models as DTDs is:
			http://www.docbook.org
		At the time of writing this is the latest version:
			http://www.docbook.org/xml/4.5b1
		
		A textual description of the full CALS DTD can be found here:
			http://www.oasis-open.org/specs/a502.htm

		The following type definitions are copied almost directly from a W3C
		XML schema version of the Exchange DTD.
		
		Changes made to the Exchange schema:
			1. Remove all top level element definitions and replace them with
		a named copy of their interal type definitions.
			2. Change the row type structure (tbl.row.mdl) to use a restricted
		version of the entry structure limited to the desired paragraph level
		elements from this schema.
			3. Reorder the definitions so that they are grouped under the
		name of the element that they are used in the definition of.
			4. Added an optional "tfoot" element as copy of "thead" to table
		model.
	-->
	<!-- EXCHANGE Tables -->
	<!-- Table -->
	<!-- TGroup -->
	<!-- Colspec -->
	<!-- THead -->
	<!-- TBody -->
	<!-- Row -->
	<!-- Entry -->
	<!--
		NOTE: This structure is not reference anywhere in this schema.
		It is left in for comparison with the CustomCALSEntryStructure
		complex type.
	-->
	<!-- no if zero(s), yes if any other value -->
	<!-- END OF EXCHANGE Tables -->
	<!-- HTML Tables -->
	<!--
		This table model is no longer used in this schema
		so is left in this schema purely for reference purposes.
	-->
	<!-- mekon added content structure -->
	<xs:complexType name="AmendmentType">
		<xs:choice maxOccurs="unbounded">
			<xs:group ref="PrintParagraphElements"/>
			<xs:element name="TableWrapper" type="TableStructure"/>
		</xs:choice>
    <xs:attributeGroup ref="HRSContentId"/>
	</xs:complexType>
  <!-- Additional styles added for Dec 2008-->
  <xs:complexType name="NewDebateType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="hs_DebateHeading" type="PrintParagraphStructure"/>
        <xs:element name="hs_DebateType" type="PrintParagraphStructure"/>
        <xs:group ref="PrintParagraphElements"/>
        <xs:element name="TableWrapper" type="TableStructure"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="BusinessType" type="xs:string" use="optional"/>
    <xs:attributeGroup ref="HRSContentId"/>
  </xs:complexType>
  <xs:simpleType name="relType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="alternate"/>
      <xs:enumeration value="stylesheet"/>
      <xs:enumeration value="start"/>
      <xs:enumeration value="next"/>
      <xs:enumeration value="prev"/>
      <xs:enumeration value="contents"/>
      <xs:enumeration value="index"/>
      <xs:enumeration value="glossary"/>
      <xs:enumeration value="copyright"/>
      <xs:enumeration value="chapter"/>
      <xs:enumeration value="section"/>
      <xs:enumeration value="subsection"/>
      <xs:enumeration value="appendix"/>
      <xs:enumeration value="help"/>
      <xs:enumeration value="bookmark"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="shapeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rect"/>
      <xs:enumeration value="rectangle"/>
      <xs:enumeration value="circ"/>
      <xs:enumeration value="circle"/>
      <xs:enumeration value="poly"/>
      <xs:enumeration value="polygon"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="targetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="_blank"/>
      <xs:enumeration value="_parent"/>
      <xs:enumeration value="_self"/>
      <xs:enumeration value="_top"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AnchorStructure" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="PrintParagraphElements"/>        
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="charset" type="xs:string" use="optional"/>
    <xs:attribute name="coords" type="xs:string" use="optional"/>
    <xs:attribute name="href" type="xs:string" use="optional"/>
    <xs:attribute name="hreflang" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
    <xs:attribute name="rel" type="relType" use="optional"/>
    <xs:attribute name="rev" type="relType" use="optional"/>
    <xs:attribute name="shape" type="shapeType" use="optional"/>
    <xs:attribute name="target" type="targetType" use="optional"/>
    <xs:attribute name="mime" type="xs:string" use="optional"/>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="class" type="xs:string" use="optional"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="style" type="xs:string" use="optional"/>
    <xs:attribute name="dir" type="xs:string" use="optional"/>
    <xs:attribute name="lang" type="xs:NCName" use="optional"/>
    <xs:attribute name="tabindex" type="xs:int" use="optional"/>
    <xs:attribute name="accesskey" type="xs:string" use="optional"/>
    <xs:attribute name="onfocus" type="xs:string" use="optional"/>
    <xs:attribute name="onblur" type="xs:string" use="optional"/>
    <xs:attribute name="onclick" type="xs:string" use="optional"/>
    <xs:attribute name="ondblclick" type="xs:string" use="optional"/>
    <xs:attribute name="onmousedown" type="xs:string" use="optional"/>
    <xs:attribute name="onmouseup" type="xs:string" use="optional"/>
    <xs:attribute name="onmouseover" type="xs:string" use="optional"/>
    <xs:attribute name="onmousemove" type="xs:string" use="optional"/>
    <xs:attribute name="onmouseout" type="xs:string" use="optional"/>
    <xs:attribute name="onkeypress" type="xs:string" use="optional"/>
    <xs:attribute name="onkeydown" type="xs:string" use="optional"/>
    <xs:attribute name="onkeyup" type="xs:string" use="optional"/>
    <xs:attributeGroup ref="HRSContentId"/>
  </xs:complexType>
</xs:schema>
